* {
    padding: 0;
    margin: 0;
    font-family: Arial, 'Times New Roman';
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.main {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 200, 10, 0.5);
    gap: 1.5em;
    margin-top: 0;
    padding: 1.1em;
    font-size: 1.2em;
    flex-wrap: wrap;
}

form{
    background-color: rgba(0, 200, 10, 0.75);
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.8em;
    gap: 1em;
    align-items: center;
    flex: 1;
    flex-direction: column;
    text-align: start;
}
input{
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, 'Times New Roman';
    font-size: 0.5em;
}

select option {
    font-family: 'Arial', sans-serif;
    background-color: cyan;
    color: #0f0b0b;
    padding: 10px;
    font-size: 1.4em;

}
select{
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, 'Times New Roman';
    font-size: 0.5em;
}
#submit {
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, 'Times New Roman'; 
    background-color: rgb(38, 58, 58);
    color: white;
    cursor: pointer;
    font-size: 0.75em;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    width: 100vh;
    display: flex;
    flex-wrap: wrap;

}

