* {
    padding: 0;
    margin: 0;
    font-family: Arial, 'Times New Roman';
}
.main {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 200, 10, 0.5);
    gap: 1.5em;
    margin-top: 0;
    padding: 1.1em;
    font-size: 1.3em;
    flex-wrap: wrap;
}

form{
    background-color: rgba(0, 200, 10, 0.75);
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.3em;
    gap: 1em;
}
input{
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, 'Times New Roman';
}

select option {
    font-family: 'Arial', sans-serif;
    background-color: cyan;
    color: #0f0b0b;
    padding: 10px;

}
select{
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, 'Times New Roman'
}
#submit {
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, 'Times New Roman'; 
    background-color: rgb(38, 58, 58);
    color: white;
    cursor: pointer;
}
